{{#each err}}
  <div class="alert alert-danger" style="margin-right: auto; margin-left: auto; margin-top: 1rem; max-width: 60%;">{{text}}</div>
{{else}}

{{/each}}
<h4 class="mt-4">Editar publicação</h4>
<div class="card mt-3">
  <div class="card-body">
      <form action="/admin/posts/edit" method="post">
      <input type="hidden" value="{{posts._id}}" name="id">
        <label for="title" style="margin-bottom: -5px; margin-top: 5px;" >Título: </label>
        <input type="text" name="title"class="form-control" required="true" value="{{posts.title}}">
        <label for="slug" style="margin-bottom: -5px; margin-top: 5px;">Slug: </label>
        <input type="text" name="slug" class="form-control" required="true" value="{{posts.slug}}">
        <label for="description" style="margin-bottom: -5px; margin-top: 5px;">Descrição: </label>
        <input type="text" name="description" class="form-control" required="true" value="{{posts.description}}">
        <label for="content" style="margin-bottom: -5px; margin-top: 5px;">Conteúdo: </label>
        <textarea name="content" cols="30" rows="10" class="form-control" required="true">{{posts.content}}</textarea>
        <div class="d-flex align-items-center">
          <label for="categoria" style="margin-bottom: -0.5rem; margin-right: 5px;">Categoria: </label>
          <select name="categoria" class="mt-3 custom-select" style="max-width: fit-content; margin-right: 10px;">
            {{#each categorias}}
              <option value="{{_id}}">{{nome}}</option>
            {{else}}
              <option value="0">Nenhuma categoria selecionada</option>
            {{/each}}
          </select><br>
        </div>
        <button class="btn btn-outline-primary mt-3" type="submit">Enviar</button>
      </form>
    </div>
</div>