<div class="jumbotron mt-4">
  <h1 class="display-4">Seja bem vindo!</h1>
  <p class="lead">Este é um blog desnvolvido em NodeJs onde você poderá criar publicações como Admin ou apenas lê-las como usuário. <br> Olha que legal!</p>
  <hr class="my-4">
  <p>Aqui nós usamos categorias para organizar as suas publicações por classes, por exemplo: esporte, música, política...</p>
  <p class="lead"><a class="btn btn-primary btn-lg" href="/user/cadastro" role="button">...descubra</a></p>
</div>
  <hr>
  <h2>Publicações mais recentes</h2>

<div class="col-12 d-flex flex-wrap justify-content-between">
  {{#each posts}}
    <div class="card mt-3 mw-5 m-4">
      <div class="card-body" style="width: 14rem; height: 20rem">
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        <hr>
        <small>Espécie: {{categoria.nome}}</small>
        <a href="/post/{{slug}}"class="btn btn-outline-primary" style="width: fit-content; margin-top:50px;">Conhecer</a>
      </div>
    </div>
  {{else}}
    <div class="d-flex mt-3">
      <img src="/img/such-empty.png" alt="such-empty" style="margin: auto">
    </div>
  {{/each}}
</div>