<div class="jumbotron mt-4">
  <h1 class="display-4">Olá visitante ; )</h1>
  <p class="lead">Este é um blog desnvolvido em NodeJs onde você poderá criar publicações, olha que legal!</p>
  <hr class="my-4">
  <p>Ele usa categorias para organizar as suas publicações por classes, por exemplo: esporte, música, política...</p>
  <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Descubra</a>  </p>
</div>
  <hr>
  <h2>Publicações mais recentes</h2>

{{#each posts}}
  <div class="card mt-3">
    <div class="card-body">
      <h4>{{title}}</h4>
      <p>{{description}}</p>
      <a href="/post/{{slug}}"class="btn btn-outline-primary">Ler mais...</a>
      <hr>
      <small>Categoria: {{categoria.nome}}</small>
      <br>
      <small>Publicado em: {{data}}</small>
    </div>
  </div>
  <div class="d-flex m-auto" style="justify-content: center;">
    <div style="background-color: #007bff; width: 50px; height: 2.5px; margin-top: 12px; margin-bottom: -1px"></div>
  </div>
{{else}}
  <div class="d-flex mt-3">
    <img src="/img/such-empty.png" alt="such-empty" style="margin: auto">
  </div>
{{/each}}